html,
body {
  width: 100%;
  height: 100%;
  background-color: #222;
}

.stage {
  position: relative;
  width: 100%;
  height: 680px;
}

.img-sec {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ddd;
}

.controller-nav {
  position: absolute;
  left: 0;
  bottom: 30px;
  z-index: 101;
  width: 100%;
  text-align: center;
}

.img-figure {
  position: absolute;
  width: 320px;
  height: 360px;
  margin: 0;
  padding: 40px;
  box-sizing: border-box;
  background-color: #fff;
  transform-style: preserve-3d;
  &--inverse {
    transform: rotateY(180deg);
  }
  &__title {
    text-align: center;
    margin: 20px 0 0;
    color: #a7a0a2;
    font-size: 16px;
  }
  &__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px 40px;
    overflow: hidden;
    color: #a7a0a2;
    font-size: 22px;
    line-height: 1.25;
    text-align: left;
    background-color: #fff;
    box-sizing: border-box;
    transform: rotateY(180deg)translateZ(1px);
    backface-visibility: hidden;
  }
}